<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.use-site-title %}{{ site.title }} {{ site.title-separator | default: '-' }} {{ site.description }}{% elsif page.meta-title %}{{ page.meta-title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  {% if page.author %}   
  <meta name="author" content="{{ page.author }}"> 
  {%- else -%}   
  <meta name="author" content="{{ site.author }}"> 
  {%- endif -%}
  <meta name="keywords" content="Haris Ahmad, Haris, Ahmad, C#, .NET, Azure DevOps, Management, ASP.NET, Cloud, Azure, Productivity, Blog"  />
  {% if page.meta-description %}   
  <meta name="description" content="{{ page.meta-description }}"> 
  {%- elsif page.subtitle -%}   
  <meta name="description" content="{{ page.subtitle }}"> 
  {%- endif -%}
  <!-- Facebook OpenGraph tags -->
  <meta property="og:site_name" content="{{site.title}}">
  {% if page.is-post %}   
  <meta property="og:type" content="article"> 
  {%- else -%}   
  <meta property="og:type" content="website"> 
  {%- endif -%}
  {%- if site.fb_app_id -%}  
  <meta property="fb:app_id" content="{{ site.fb_app_id }}"> 
  {%- endif -%}
  {%- if page.meta-title -%}   
  <meta property="og:title" content="{{ page.meta-title }}"> 
  {% elsif page.title %}   
  <meta property="og:title" content="{{ page.title }}"> 
  {%- elsif site.title -%}   
  <meta property="og:title" content="{{ site.title }}"> 
  {%- endif -%}
  {%- if page.meta-description -%}   
  <meta property="og:description" content="{{ page.meta-description }}"> 
  {%- elsif page.subtitle -%}
  <meta property="og:description" content="{{ page.subtitle }}">
  {%- else -%}
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {%- endif -%}
  {%- if page.id -%}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {%- else -%}
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
  <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}">
  {%- endif -%}
  {%- if page.share-img -%}
  <meta property="og:image" content="{{ page.share-img | absolute_url }}">
  {%- elsif site.avatar -%}
  <meta property="og:image" content="{{ site.avatar | absolute_url }}">
  {%- endif -%}
  {%- if page.is-post -%}
  <meta property="article:author" content="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" />
  <meta property="article:published_time" content="{{ page.published-date | date: "%Y-%m-%d" }}" /> 
    {%- if page.modified-time -%}
  <meta property="article:modified_time" content="{{ page.modified-date | date: "%Y-%m-%d" }}" />
    {%- endif -%}
  {%- endif -%}

  <!-- Twitter summary cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.social-network-links.twitter }}">
  <meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}">
  {%- if page.meta-title -%}
  <meta name="twitter:title" content="{{ page.meta-title }}">
  {%- elsif page.title -%}
  <meta name="twitter:title" content="{{ page.title }}">
  {%- else -%}
  <meta name="twitter:title" content="{{ site.title }}">
  {%- endif -%}
  {%- if page.meta-description -%}
  <meta name="twitter:description" content="{{ page.meta-description }}">
  {%- elsif page.subtitle -%}
  <meta name="twitter:description" content="{{ page.subtitle }}">
  {%- else -%}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {%- endif -%}
  {%- if page.share-img -%}
  <meta name="twitter:image" content="{{ page.share-img }}">
  {%- elsif site.avatar- %}
  <meta name="twitter:image" content="{{ site.avatar | absolute_url }}">
  {%- endif -%}

   <!-- Robot -->
  <meta name="robots" content="index,follow">
    <!-- scripts/css -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | default: 'Untitled' }} {{ site.title-separator | default: '-' }} {{ site.description }}" href="{{ '/feed.xml' | absolute_url }}">

  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}

  {%- if layout.common-ext-css -%}
    {%- for css in layout.common-ext-css -%}
      {%- include ext-css.html css=css -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if layout.common-css -%}
    {%- for css in layout.common-css -%}
  <link rel="stylesheet" href="{{ css | relative_url }}">
    {%- endfor -%}
  {%- endif -%}

  {%- if page.ext-css -%}
    {%- for css in page.ext-css -%}
      {%- include ext-css.html css=css -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if page.css -%}
    {%- for css in page.css -%}
  <link rel="stylesheet" href="{{ css | relative_url }}">
    {%- endfor -%}
  {%- endif -%}

  {% if site.matomo %}
  {% include matomo.html %}
  {% endif %}

  {% if page.comments and site.staticman.repository and site.staticman.branch %}
  <!-- Staticman -->
  <link rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}">
  {% endif %}

</head>
